<!DOCTYPE html>
<html lang="it" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png" sizes="16x16" type="image/png">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/customCss.css" rel="stylesheet">
    <script defer src="/js/fontawesomeAll.js"></script>
    <title>Coursellama - <%= ctx.course.title %></title>
</head>
<body class="d-flex flex-column h-100">

    <div class="blueDiv1 text-light">
        <%- include('../component/header') -%>
        
        <div class="container text-light py-5 text-center">
            <h1 class="display-2 text-center">Corso di <%= ctx.course.creator %></h1>
            <p>Questo è un corso privato e necessita l'iscrizione. Clicca sul pulsante qui sotto per confermare l'iscrizione.</p>
        </div>
        <div class="container text-dark py-5">
            <form action="/courses/subscribe" method="POST">
                <input type="hidden" name="_csrf" value="<%=ctx.csrfToken%>">
                <div class="d-grid gap-2">
                    <input type="hidden" name="courseid" value="<%= ctx.course.id %>">
                    <button type="submit" class="btn py-3 btn-outline-light">Iscriviti</button>
                </div>
            </form>
        </div>
        <img class="img-fluid" src="/img/end_div.png">
    </div>

    <%- include('../component/footer') -%>
    <%- include('../component/cookie_consent') -%>
    
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/cookieConsent.js"></script>
</body>
</html>
