<!DOCTYPE html>
<html lang="it" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png" sizes="16x16" type="image/png">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/customCss.css" rel="stylesheet">
    <script defer src="/js/fontawesomeAll.js"></script>
    <title>Coursellama - Nuovo Corso</title>
</head>
<body class="d-flex flex-column h-100">

    <div class="blueDiv1 text-light">
        <%- include('../component/header') -%>
        
        <div class="container text-light py-5">
            <h1 class="display-2 text-center">Aggiorna informazioni</h1>
        </div>
        <div class="container text-dark py-5">
            <form action="/profile/change" method="POST">
                <input type="hidden" name="_csrf" value="<%=ctx.csrfToken%>">
                <div class="form-floating mb-3">
                    <input type="text" name="name" class="form-control" id="floatingName" placeholder="Nome" value="<%=ctx.user.name%>">
                    <label for="floatingTitle">Nome</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="surname" class="form-control" id="floatingSurname" placeholder="Cognome" value="<%=ctx.user.surname%>">
                    <label for="floatingTitle">Cognome</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="profile_image" class="form-control" id="floatingImg" placeholder="Url immagine profilo" value="<%=ctx.user.profile_image%>">
                    <label for="floatingTitle">Url immagine profilo</label>
                </div>
                <% if(ctx.user.role == 'teacher') { %>
                    <div class="form-floating mb-3">
                        <div class="input-group">
                            <span class="input-group-text">Biografia</span>
                            <textarea name="bio" class="form-control" rows="3" aria-label="Bio" maxlength="300" style="resize: none;"><%=ctx.user.bio%></textarea>
                        </div>
                    </div>
                <% } %>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn py-3 btn-outline-light">Aggiorna</button>
                </div>
            </form>
            <% if(ctx.info.errors) { %>
                <br><div class="alert alert-danger" role="alert"><%= ctx.info.errors %></div>
            <% } %>
        </div>
        <img class="img-fluid" src="/img/end_div.png">
    </div>

    <%- include('../component/footer') -%>
    <%- include('../component/cookie_consent') -%>
    
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/cookieConsent.js"></script>
</body>
</html>
